.main {
     font-family: oswald;
     font-size: 20px;
     background-image: url("/img/backgroundrepeating.jpg");
     background-repeat: repeat;
     background-color: black;
}
.main img {
     border: dotted black;
}
/* .leftside {
     margin-bottom: 10px;
     margin-right: 10px;
     border: dotted black;
     float: left;
} */
.warning {
     color: red;
     font-weight: bold;
}
.container {
     padding-top: 15px;
     padding-left: 30px;
     background-color: white;
     margin-top: 30px;
     margin-bottom: 20px;
     border: solid gray;
}
.containerbodytext {
     padding-left: 40px;
     padding-right: 40px;
}
.pandemic {
     color: darkgreen;
}