.main {
     font-family: oswald;
     font-size: 20px;
     background-image: url("../img/backgroundrepeating.jpg");
     background-repeat: repeat;
     background-color: black;
}
.me {
     border: dotted black;
}
.container {
     padding-top: 15px;
     padding-left: 30px;
     background-color: white;
     margin-top: 30px;
     margin-bottom: 20px;
     border: solid gray;
}
.containerbodytext {
     padding-left: 40px;
     padding-right: 40px;
}
.pandemic {
     color: darkgreen;
}
.floatright {
     float: right;
}
.d-flex {
     margin: -10px;
}
.d-flex img {
     padding: 2px;
}
.verysmall {
     font-size: 14px;
}